@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
:root{
  --line-border-fill:#FF4D88;
  --line-border-empty:#e0e0e0;

}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5D4DE;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  height: 100vh;
  overflow:hidden;
}

.container {
  text-align:center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position:relative;
  margin-bottom:30px;
  max-width:100%;
  width:350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position:absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height: 4px;
  width: 0;
  z-index: -1;
  transition: 0.4s ease;
}

.item-wrapper {
  position: relative;
  background-color: white;
  color: pink;
  border-radius: 5%;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column; /* Change to a column layout */
  text-align: center;
  justify-content: center;
  border: 3px solid pink;
  transition: 0.4s ease;
}

.addBtn {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.active{
  background-image: url(x.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center 3px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 2px solid #FF4D88;
}

.upload0 {
  background-image: url(sailor1.png);
  background-size: cover;
  z-index: +1;
}

.upload1 {
  background-image: url(sailor2.png);
  background-size: contain;
}

.upload2 {
  background-image: url(sailor3.png);
  background-size: contain;
}

.upload3 {
  background-image: url(sailor4.png);
  background-size: contain;
}







